.bloki {
    display: flex;
    flex-direction: reverse;
}

* {
    font-family: Helvetica;
}

header, footer {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px;
    text-align: center;
}

main {
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;
}

.lewy {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;
}

.prawy {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 20%;
}

main img {
    padding: 3px;
    border-style: dashed;
    border-color: blue;
    border-width: 1px;
    border-radius: 10px;
}

.lewy img {
    height: 40%;
}

.lewy img:hover {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}