body {
    font-family: Garamond;
}

.start {
    display: flex;
    flex-direction: reverse;
}

main {
    display: flex;
    flex-direction: reverse;
}

.logo {
    background-color: olive;
    width: 25%;
    height: 110px;
}

.menu {
    background-color: olive;
    width: 75%;
    height: 110px;
}

header, footer {
    background-color: saddlebrown;
    color: white;
    text-align: center;
    padding: 30px;
}

.lewy, .prawy{
    background-color: wheat;
    width: 50%;
    height: 450px;
    font-size: 150%;
}

.lewy {
    text-align: center;
}

h1 {
    letter-spacing: 12px;
}

a {
    color: lightgrey;
    margin: 30px;
    font-size: 150%;
    line-height: 110px;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.element3rd {
    text-decoration: line-through;
}